.sign-in-container {
    background-color: darkslategray;
    display: flex;
    width: 100%;
    height: 25%;
    justify-content: center;
    align-items: center;
  }
  
  .mainapp {
    background-color: white;
    min-width: 300px;
    min-height: 300px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  .title {
    color: orange;
    text-align: center;
    margin: 100px 50 px 40px 0px;
  }
  
  .password {
    margin: 20px;
    color: greenyellow;
    font-size: 16px;
  
  }
  
  .mail {
    margin: 20px;
    color: greenyellow;
    font-size: 16px;
  }
  
  .input {
    height: 32px;
    font-size: 20px;
    width: 100%;
    border-bottom-style: 2px groove black;
  }
  
  .submit {
    display: flex;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 25px;
    color: rgb(82, 26, 58);
    padding: 10px 60 px;
    box-shadow: black;
    margin: auto;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .form-s {
    display: flex;
    justify-content: center;
    margin-top: 250px;
    min-width: 250px;
    color: blue;
  }
  
  .errors {
    color: red;
  }
  