.event-card-container {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  height: 80%;
}

.event-card {
  background-color: var(--secondary-background-color);
  height: 100%;
  border-radius: var(--card-border-radius);
  box-sizing: border-box;
  font-size: 1.6rem;
  width: 25rem;
  position: relative;
  padding: .5rem;
  box-shadow: var(--primary-box-shadow);
  transition: box-shadow .2s ease-in;
}

.event-card:hover {
  box-shadow: var(--hover-box-shadow);
}

.event-picture-container {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-picture-img-link {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.event-picture-img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-picture-default-img {
  border-radius: 1rem;
  width: 80%;
  object-fit: cover;
}

.event-data {
  line-height: 1.5;
}

.event-data-title {
  display: inline-block;
  height: 3rem;
}

/* Event Card Search View Style */
.event-card-container-search {
  text-decoration: none;
  color: inherit;
}

.event-card-search {
  box-sizing: border-box;
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
  position: relative;
  transition: box-shadow .2s ease-in;
  display: flex;
  align-items: flex-start;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

.event-card-search:nth-child(1) {
  border-top: 1px solid var(--form-input-border-secondary-color);
}

/* Image ------------------------ */
.event-picture-container-search {
  width: 22rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-background-color);
  border-radius: var(--card-border-radius);
  box-shadow: var(--primary-box-shadow);
}

.event-picture-img-link-search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.event-picture-img-search {
  border-radius: var(--card-border-radius);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-picture-default-img-search {
  border-radius: var(--card-border-radius);
  width: 80%;
  object-fit: cover;
}
/* Image ------------------------ */

/* Data ------------------------ */
.event-data-search {
  line-height: 1.5;
  padding-left: 2rem;
  flex-grow: 2;
}

.event-data-date-search {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--fourthly-text-color);
}

.event-data-title-search {
  margin: .5rem 0;
  font-weight: bold;
  font-size: var(--h4-font-size);
  text-decoration: none;
  color: var(--primary-text-color);
}

.event-data-location-search {
  color: var(--tertiary-text-color);
  margin-bottom: .5rem;
}

.event-data-attendees-search {
  text-align: right;
  margin-left: 30rem;
  color: var(--tertiary-text-color);

}
/* Data ------------------------ */


.event-button button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1.5rem;
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  background-color: var(--button-background-color);
  font-size: 1.6rem;
  border: none;
  color: var(--button-text-color);
  transition: all .2s ease-out;
  margin-left: 3rem;
}