.event-card {
  border: 2px solid gray;
  box-sizing: border-box;
  padding: 2px;
  font-size: 1.5rem;
  width: 25rem;
  height: 100%;
}

.event-picture {
  width: 100%;
  height: 50%;
  
}

.event-picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.event-data {
  padding-top: 3rem
}