

.galery-container{
  margin: 1rem 2rem;
  border: 1px solid black;
  padding: .5rem;
  background-color: #ffebee;
  
}
.galery-container .galery-container-flex{
  margin: 1rem 3rem 0 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}