.search-bar-container {
  width: 90%;
  height: 10rem;
  display: flex;
  align-content: center;
}

.search-bar-form {
  display: flex;
  align-items: center;
}

.search-bar-form input {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 3px solid grey;
  width: 30rem;
  font-size: 2rem;
  line-height: 2;
  transition: border-bottom .2s ease-in;
  
}

.search-bar-form input:focus {
  outline: none;
  border-bottom: 3px solid black;
}

.search-bar-form button {
  margin-left: 1rem;
  font-size: 3rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: grey;
  transition: all .1s ease-in;
}

.search-bar-form button:hover {
  transform: scale(1.2);
  color: black;
}


.fiter-bar-container {
  width: 90%;
  height: 5rem;
  display: flex;
  align-content: center;
  margin-bottom: 3rem;
}

.filter-bar-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-bar-form select {
  margin: 0 1.5rem;
  background-color: rgb(245, 245, 245);
  border-radius: .5rem;
  font-size: 1.6rem;
  height: 3rem;
  width: 16rem;
  text-align: center;
  padding: .5rem;
  line-height: 2;
  border: none;
}

.filter-bar-form select:focus {
  outline: none;
}

.filter-bar-form input {
  margin-right: 1.5rem;
  border-radius: .5rem;
  border: none;
  font-size: 1.6rem;
  height: 3rem;
  width: 20rem;
  padding: .5rem;
}

.filter-bar-form input:focus{
  outline: none;
}

.filter-bar-form button {
  margin-left: 1.5rem;
  background-color: transparent;
  font-size: 1.6rem;
  border: none;
  transition: all .1s ease-in;
}

.filter-bar-form button:hover {
  transform: scale(1.1);
}