.infinite-scroll-container {
  max-width: 100%;
}

.infinite-scroll-item {
  width: 500px;
  height: 20rem;
  background-color: rgb(184, 184, 184);
  border: 1px solid black;
  margin: 1rem;

}

.infinite-scroll-end-message {
  padding: 1rem;
  text-align: center;
}