/*színeket ide 
  meg szöveg színt választani
  gomb szín?
*/

.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout-inner-container {
  padding: 0 2rem;
}
