.chosen-events-container {
  width: 100%;
  display: flex;
  gap: 5rem;
}

.chosen-events-sidebar {
  width: 30%;
}

.chosen-events-content {
  width: 70%;
}
.joined-event-pic{
  margin-top: 10rem;
  width: 100%;
  /* height: ; */
  
}