.my-events-container {
  width: 100%;
  display: flex;
  /* to display cancel and unsubscribe modal vertically and horizontally middle */
  display: relative;
}

.my-events-sidebar {
  flex-grow: 1;
}

.my-events-content {
  flex-grow: 2;
}