/*containers*/
.create-new-event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  /* height: 100%; */
}
.create-new-event-container .new-event-form {
  margin-top: 2rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-new-event-container .new-event-form .basic-info-box,
.time-of-event,
.location-container {
  margin-bottom: 2rem;
}
.create-new-event-container .new-event-form .time-of-event label {
  display: inline-block;
}
/*Text*/
.create-new-event-container h1 {
  font-size: 3rem;
}
.create-new-event-container .new-event-form h2 {
  font-size: 2.5rem;
}
.create-new-event-container .new-event-form h3 {
  font-size: 2rem;
}
.create-new-event-container .new-event-form label {
  font-size: 1.6rem;
  display: block;
  margin: 1rem 1rem 0 2rem;
}
.create-new-event-container .new-event-form p {
  margin: 1rem;
  font-size: 1.4rem;
}

/*inputs, buttons, select, textarea..*/
.create-new-event-container .new-event-form input,
select {
  margin: 1rem 1rem 0 2rem;
  padding: 2px;
}
.create-new-event-container .new-event-form .basic-event-info button {
  margin: 2rem 1rem;
}
.create-new-event-container .new-event-form .btn-container {
  height: 5rem;
  margin: 1rem 0;
}
.create-new-event-container .new-event-form .basic-event-info .back-btn,
.next-btn,
.save-btn {
  display: inline;
  margin: 0 1rem;
  float: right;
}
.create-new-event-container .new-event-form .basic-event-info .save-btn::after,
.next-btn::after,
.back-btn::after {
  content: '';
  clear: both;
  display: table;
}
.create-new-event-container .new-event-form button {
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid black;
  background-color: #ffebee;
  transition: all 0.5s;
}
.create-new-event-container .new-event-form .new-event-payment-container button {
  margin: 2rem 1rem;
}
.create-new-event-container .new-event-form .new-event-details textarea {
  width: 50rem;
  min-height: 10rem;
  margin: 1rem 2rem 1rem 2rem;
  padding: 2px;
}
/*hover, focus*/
.create-new-event-container .new-event-form button:hover {
  background-color: #ccb9bc;
  transform: scale(1.2);
  box-shadow: 0.5rem 0.5rem 1rem #7986cb;
}

.create-new-event-container .new-event-form .location-container button:focus,
.event-frequency button:focus,
.new-event-payment-container button:focus {
  background-color: #ffcdd2;
  transform: scale(1.1);
} /*ezt majd meg kéne nézni mert nem marad úgy ha két fajta van egy oldalon*/
/*details*/
.create-new-event-container
  .new-event-form
  .new-event-details
  .add-image-event-container
  div {
  width: 50rem;
  min-height: 20rem;
  text-align: center;
  border: 1px solid black;
  margin: 1rem 2rem 1rem 2rem;
}
.add-image-event-container img{
  width: 30rem;
  height: auto;
}
/*payment*/
.create-new-event-container .new-event-form .new-event-payment-container {
  min-height: 41rem;
  min-width: 38rem;
}
.create-new-event-container
  .new-event-form
  .new-event-payment-container
  .payment-type-btn-box {
  margin-left: 3rem;
}
.create-new-event-container .new-event-form .new-event-payment-container .ticket-details {
  margin: 1rem;
  min-height: 28rem;
}
