/*containers*/
.create-new-event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  /* height: 100%; */
}
.create-new-event-container .new-event-form {
  margin-top: 2rem;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-new-event-container .new-event-form .basic-info-box,
.time-of-event,
.location-container {
  margin-bottom: 6rem;
}
.location-container .location-type{
  margin-bottom: 3rem;
}
.create-new-event-container .new-event-form .time-of-event label {
  display: inline-block;
}
/*Text*/
.create-new-event-container h1 {
  font-size: var(--h1-font-size);
  margin-bottom: 1rem;
}
.create-new-event-container .new-event-form h2 {
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;

}
.create-new-event-container .new-event-form h3{
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;

}
.create-new-event-container .new-event-form label {
  font-size: var(--form-label-font-size);
  display: block;
  margin: 1rem 1rem 0 2rem;
}
.create-new-event-container .new-event-form p {
  margin: 1rem;
  font-size: var(--p-font-size);
}
.required{
  color: var(--button-hover-background-color)
}
/*inputs, buttons, select, textarea..*/
.create-new-event-container .new-event-form input,
select, textarea {
  margin: 1rem 1rem 0 2rem;
  font-size: var(--form-label-font-size);
  padding: var(--form-input-padding);
  border-radius: var(--form-input-border-radius);
  border: 1px solid var(--form-input-border-color);

}
.create-new-event-container .new-event-form input:hover,
select:hover, textarea:hover{
  border:1px solid var(--form-hover-input-border-color)
}
.create-new-event-container .new-event-form button {
  margin: 2rem 1rem;
  
}
.create-new-event-container .new-event-form .btn-container {
  height: 5rem;
  margin: 1rem 0;
}
.create-new-event-container .new-event-form .basic-event-info .back-btn,
.next-btn,
.save-btn {
  display: inline;
  margin: 0 1rem;
  float: right;
}
.create-new-event-container .new-event-form .basic-event-info .save-btn::after,
.next-btn::after,
.back-btn::after {
  content: '';
  clear: both;
  display: table;
}
.create-new-event-container .new-event-form button {
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  border: none;
  font-weight: 500;
  transition: all 0.5s;
}
.create-new-event-container
  .new-event-form
  .new-event-payment-container
  .payment-type-btn-box
  label {
  display: inline;
  margin: 2rem 1rem;
}
.create-new-event-container .new-event-form .new-event-details textarea {
  width: 50rem;
  min-height: 10rem;
  margin: 1rem 2rem 1rem 2rem;
  padding: 2px;
  box-shadow: var(--primary-box-shadow);
}
.create-new-event-container
  .new-event-form
  .basic-event-info
  .location-container
  .location-type
  label {
  display: inline;
}

/*hover, focus*/
.create-new-event-container .new-event-form button:hover {
  background-color: var(--button-hover-background-color);
  transform: scale(1.2);
  box-shadow: var(--hover-box-shadow)
}


/*details*/
.create-new-event-container
  .new-event-form
  .new-event-details
  .add-image-event-container
  div {
  width: 50rem;
  min-height: 20rem;
  text-align: center;
  box-shadow: var( --primary-box-shadow);
  border-radius: var(--card-border-radius);
  margin: 1rem 2rem 4rem 2rem;
  background-color: var(--secondary-background-color);
}
.add-image-event-container img {
  width: 30rem;
  height: auto;
}
/*payment*/
.create-new-event-container .new-event-form .new-event-payment-container {
  min-height: 41rem;
  min-width: 38rem;
}
.create-new-event-container
  .new-event-form
  .new-event-payment-container
  .payment-type-btn-box {
  margin-left: 3rem;
  margin-bottom: 4rem;
}

.ticket-pricing-information, .ticket-validation{
  margin-bottom: 4rem;
}
.create-new-event-container .new-event-form .new-event-payment-container .ticket-details {
  margin: 1rem;
  min-height: 28rem;
}
