.event-page {
  display: grid;
  grid-template-rows: 2em 45em 5em 10em 10em 10em 2em;
  grid-template-columns: 1fr 5fr 1fr 2fr 1fr;
  grid-template-areas:
    '. . . . .'
    '. image . info .'
    '. . . . .'
    '. details . . .'
    '. details . . .'
    '. details . . .'
    '. . . . .';
    
}

.event-image-container {
  grid-area: image;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: grey;
  
}

.event-details {
  grid-area: details;
  border: 0.1rem solid lightgrey;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 1rem lightgray;
  padding-bottom: 1rem;
  font-size: 16px;
}

.eventinfo-container {
  grid-area: info;
  display: flex;
  flex-direction: column;
  border: 0.1rem solid lightgrey;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 1rem lightgray;
  padding: 1rem;
  font-size: 16px;
  width: 38rem;
}

.eventinfo-details {
  font-size: 18px;
  padding-bottom: 2rem;
  padding-top: 0.5rem
}

.eventinfo-join-button {
  width: 6rem;
  position: relative;
  left: 15rem;
  top: 15rem;
}


