.search-event-container {
  width: 100%;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.search-event-background {
  transform: scaleX(-1);
  width: 25rem;
  position: absolute;
  top: -1rem;
  right: 0;
}

.search-event-inner-container {
  width: 100%;
  display: flex;
}

.display-maps-container {
  width: 40%;
}

.display-maps {
  width: 100%;
  height: 500px;
  background-color: blanchedalmond;
}


